@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

html, body {
  height: 100%;
  color: black;
}

#dropdown-custom {
  background-color:rgba(205, 192, 146);
  border-color: rgba(205, 192, 146);
  color: #540115;
}

#logInButton {
  background-color: rgba(205, 192, 146);
  color: #540115;
}

#mainPageLogo {
  width: 8%;
  height: auto;
  position: absolute;
}

#mainPageHeader {
	top:0;
	left:0;
	width:100%;
	justify-content:space-between;
	background:#540115;
	align-items:center;
	transition:0.6s;
	padding:20px 50px;
	z-index:1;
}

amplify-authenticator {
  --container-height: 0;
}

.base-font {
  font-family: 'Open Sans'
}

.bars {
  display: flex;
  justify-content: space-between;
}

.font-size-large {
  font-size: 2rem;
}

.react-datepicker__input-container {
  height: 100%;
}

.react-datepicker__input-container input {
  height: 100%;
  width: 100%;
}

.meal {
  height: 500px;
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(107, 101, 77) !important;
}

.menu {
  overflow-y: auto;
  background-color: rgba(205, 192, 146);
  min-height: 1vh;
}

.form-control {
  background-color: rgba(205, 192, 146) !important;
  border: 5px solid #540115 !important;
  border-radius: 2px !important;
  height: auto !important;
}

.background-gold {
  background-color: rgba(205, 192, 146) !important;
}

.menu::-webkit-scrollbar {
  width: .25rem;
}

.menu::-webkit-scrollbar-track {
  background: grey;
}

.menu::-webkit-scrollbar-thumb {
  background: rgb(107, 101, 77) !important;
}

.datedDayTitle {
  display: inline;
}

.font-125 {
  font-size: 1.25rem;
}

.break-flex {
  flex-basis: 100%;
  height: 0;
}

.logoutDropdownButton {
  justify-content: flex-end;
}

.auth-container {
  min-height: auto !important;
}

.centerDiv {
  margin: auto;
  width: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.gold-text {
  color:rgba(205, 192, 146);
}

.garnet-border {
  border: 5px solid #540115;
  border-radius: 4px;
}

input .react-datepicker-ignore-onclickoutside {
  background-color: rgba(205, 192, 146);
  border: 5px solid #540115 !important;
  border-radius: 2px !important;
}

.height-90 {
  height: 90% !important;
}

.dropdown-item , .dropdown-menu {
  background-color: rgba(205, 192, 146) !important;
}

.copyright-text {
  font-size: .75rem;
  margin-top: 15rem;
}